registry="http://cmf-nuget.cmf.criticalmanufacturing.com:4873/"
//cmf-nuget.cmf.criticalmanufacturing.com:4873/:_authToken="csNoanwPNA0SGF/V/Q+CRJWzHc/lRymCeBWSRGDZ+kY="
node-options=--max-old-space-size=8192